- if @album
  %h2 Browsing #{@album}
- else
  %h2 Browsing By Album
- @url = '/album/list'
= haml :alphabet_list, :layout => false
- if @songs
  = haml :song_list, :layout => false
- if @list
  - @url = '/album/view'
  = haml :category_list, :layout => false