- if @artist
  %h2 Viewing #{@artist}
- else 
  %h2 Browsing By Artist
- @url = '/artist/list'
= haml :alphabet_list, :layout => false
- if @songs
  = haml :song_list, :layout => false
- if @list
  - @url = '/artist/view'
  = haml :category_list, :layout => false