%ul.song_list
  - @songs.each do |song|
    %li
      - if $CONFIG[:settings][:allow_downloads]
        %p{:id => song[:id].to_s + '_player', :style => 'visibility: hidden'}
        %br
      %a{:href => "/vote/#{song[:id]}"}= song[:title]
      %br
      %small
        %a{:href => '/artist/view/' + escape(song[:artist])}=  song[:artist]
        \-
        %a{:href => '/year/' + escape(song[:year])}= song[:year]
        \-
        %a{:href => '/album/view/' + escape(song[:album])}= song[:album]
        - if $CONFIG[:settings][:allow_downloads]
          %br
          %strong
            Actions:
          %a{:href => '/get/' + song[:id].to_s} Download
          \-
          %a{:href => '#' + song[:id].to_s, :class => 'player_link'} Preview  