%ul.song_list
  - @songs.each do |song|
    %li
      %a{:href => "/vote/#{song[:id]}"}= song[:title]
      %br
      %small
        %a{:href => '/artist/view/' + escape(song[:artist])}=  song[:artist]
        \-
        %a{:href => '/year/' + escape(song[:year])}= song[:year]
        \-
        %a{:href => '/album/view/' + escape(song[:album])}= song[:album]
  